{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% trans "My shop" %}{% endblock %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
  <div id="header">
    <a href="/" class="logo">{% trans "My shop" %}</a>
  </div>
  <div id="subheader">
    <div class="cart">
      {% with total_items=cart|length %}
      {% if total_items > 0 %}
      {% trans "Your cart" %}:
      <a href="{% url 'cart:cart_detail' %}">
        {% blocktrans with total=cart.get_total_price count items=total_items %}
        {{ items }} item, ${{ total }}
        {% plural %}
        {{ items }} items, ${{ total }}
        {% endblocktrans %}
      </a>
      {% else %}
      {% trans "Your cart is empty." %}
      {% endif %}
      {% endwith %}
    </div>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>
